<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.intern.datanode.dao.FileInfoMapper">
	<insert id="insertFileInfoByFileDomain" parameterType="FileDomain">
		INSERT INTO File (post_seq, path, thumnail_file ,original_file, file_length)
		VALUE (#{postSeq}, #{path}, #{thumnailFile}, #{originalFile}, #{fileLength})
 	</insert>
 	<select id="selectFileUriByPostSeq" parameterType="Integer" resultType="Integer">
 		SELECT path, thumnail_file
 		FROM File
 		WHERE post_seq = #{postSeq}
 		LIMIT 1
 	</select>
 	<select id="selectThumbnailImageByPostSeq" parameterType="Integer" resultType="FileDomain">
 		SELECT 
 			path, thumnail_file, original_file, file_length
 		FROM 
 			File
 		WHERE 
 			post_seq = #{postSeq}
 		ORDER BY 
 			seq
 		LIMIT 1 
 	</select>
 	<select id="selectOriginalImageByFileSeq" parameterType="Integer" resultType="FileDomain">
 		SELECT 
 			path, thumnail_file, original_file, file_length
 		FROM 
 			File
 		WHERE 
 			seq = #{fileSeq}
 	</select>
</mapper>

