@charset "UTF-8";
body{
	display: block;    
	width: 1000px;
    margin: auto;
}


.thumbnail-size {
    width: 300px;
    height: 200px;
}

ul {
	posistion: relation;
	display: block; 
	list-style: none;
}

li {
  white-space: nowrap;
}

.margin-no{
	margin-left: 5px;

}

.img-popup-layer {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 9000;
}
.img-popup-layer .head {
  display: block;
  position: relative;
  height: 10%;
}
.img-popup-layer .exit {
  display: inline-block;
  color: white;
  z-index: 9001;
  width: auto;
  height: auto;
  top: 35%;
  left: 10%;
  font-size: 2em;
  position: relative;
}

.img-popup-layer .count {
  display: inline-block;
  top: 35%;
  left: 70%;
  width: auto;
  height: 50px;
  z-index: 9001;
  position: relative;
}

.img-popup-layer .count span {
  color: white;
  font-size: 2em;
}

.img-popup-layer .img-viewer {
  width: 90%;
  left: 5%;
  display: block;
  position: relative;
  height: 80%;
  overflow: hidden;
}

.img-popup-layer .img-viewer img {
  width: 100%;
  height: 100%;
}

.img-popup-layer .img-viewer ul {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  display: -webkit-box;
  position: relative;
}
.img-popup-layer .img-viewer ul li{
  width: 90%;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

img.origin-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.post-context{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.btn.like-btn.active{
	color: blue;
}